#characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.character-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 200px;
}

.character-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.character-card div {
    margin-bottom: 5px;
}