/* Adicione estilos para o conteúdo geral */
.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilize a seta à esquerda e à direita */
.custom-prev-arrow,
.custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.custom-prev-arrow {
    left: 10px;
}

.custom-next-arrow {
    right: 10px;
}

/* Estilos para o container dos cards e carrossel */
#container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

/* Estilos para cada card */
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px; /* Largura fixa para todos os cards */
    text-align: center;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
    margin: 0 10px; /* Adiciona espaçamento entre os cards, ajuste conforme necessário */
}

/* Estilos para a imagem dentro do card */
.card img {
   
    border-radius: 8px;
    display: block; /* Isso remove qualquer espaço extra abaixo da imagem */
    margin: 0 auto; /* Isso centraliza a imagem horizontalmente */
}

/* Estilos para o carrossel */
.slider {
    width: 100%;
    max-width: 800px; /* Defina a largura máxima do carrossel conforme necessário */
}
